<link rel="stylesheet" href="/public/styles/header.css">
<header>
    <a href="/products">Максимаркет</a>
    <div class="userInfo">
        <a class="cart" href="/cart"></a>
        <a class="home" href="/home"></a>
    </div>
</header>
