<link rel="stylesheet" href="/public/styles/auth_register.css">
<main>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        <label>Авторизация</label>
        <% if(options?.error) { %>
            <p class="error"><%= options?.error; %></p>
        <% } %>

        <input type="email" name="email" placeholder="E-mail" required />

        <div class="password">
            <input type="password" name="password" class="password-input" placeholder="Пароль" required
                   autocomplete="on" />
            <i class="hide-password"></i>
        </div>

        <button type="submit">Вход</button>
        <p>Нет аккаунта? <a href="/register<%= options?.page %>">Создать</a></p>
    </form>
</main>

<script>
    const error = document.querySelector('.error')
    const inputs = document.querySelectorAll('input')

    inputs.forEach(item => {
        item.addEventListener('focus', () => {
            if (error) {
                error.remove()
            }
        })
    })

    const passwordInput = document.querySelector('.password-input')
    const hidePassword = document.querySelector('.hide-password')

    hidePassword.addEventListener('click', () => {
        hidePassword.classList.toggle('show-password')

        if (hidePassword.classList.contains('show-password')) {
            passwordInput.setAttribute('type', 'text')
        } else {
            passwordInput.setAttribute('type', 'password')
        }
    })

</script>
